:root {
  --fg:  #0A3D62;
  --bg: #3498DB; 
  --muted: #52B788;
  --accent: #F8F9FA; 
  --card: #52B788;
  --border: #14532D;
  --button: #3498DB;
}

* { box-sizing: border-box; }
html { scroll-behavior: smooth; }

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(var(--bg), var(--muted));
    height: 100vh;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    color: var(--fg);
}

/* Navbar Mulai */
.navbar {
      padding: 12px 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
    }

    .navbar .logo {
      color: var(--card);
      font-size: 20px;
      font-weight: bold;
    }

    .nav-links {
      display: flex;
      gap: 15px;
    }

    .nav-links a {
      color: var(--accent);
      text-decoration: none;
      font-size: 16px;
    }

    .nav-links a:hover {
      text-decoration: underline;
    }

/* Navbar Selesai */



/* Layout */
header, main, footer { width: 100%; }

header {
  position: fixed;
  top: 0;
  z-index: 9999999;
  background:linear-gradient(var(--fg));
  backdrop-filter: saturate(140%) blur(10px);
  border-bottom: 1px solid var(--accent);
}

header h1, header h3 {
  margin: 0;
}

header {
  display: grid;
  gap: .25rem;
  padding: 1rem 1.25rem;
}

main {
  display: grid;
  place-items: center;
  padding: 2rem 1rem 3rem;
}

article {
  width: min(800px, 100%);
  background: var(--card);
  border: 1px solid var(--border);
  border-radius: 16px;
  padding: clamp(1rem, 2.5vw, 2rem);
  box-shadow: 0 10px 30px rgba(2, 6, 23, 0.06);
}

footer {
  border-top: 1px solid var(--border);
  background-color: var(--border);
  text-align: center;
  padding: 1.5rem 1rem 2rem;
}

/* Typography */
h1 { font-family: 'Merriweather'; color: var(--accent); font-size: (1.5rem, 2.5vw, 2rem); letter-spacing: -0.02em; }
h3 { font-family: 'Merriweather'; font-weight: 500; color: var(--muted); font-size: clamp(0.95rem, 1.6vw, 1.05rem); }

h2 {
  margin: 1.5rem 0 .5rem;
  font-size: clamp(1.25rem, 2.2vw, 1.6rem);
  line-height: 1.3;
  letter-spacing: -0.01em;
  font-family: 'Merriweather';
}

p { margin: .75rem 0; 
  font-family: 'Poppins';
}

/* Lists */
ul, ol { font-family: 'Poppins'; margin: .5rem 0 1rem 1.25rem; padding: 0; }
li { margin: .35rem 0; }

/* Links */
a { color: var(--accent); text-decoration: none; }
a:hover { text-decoration: underline; }


/* Responsif */
@media (max-width: 992px) {
  .product-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 640px) {
  .product-container {
    grid-template-columns: 1fr;
  }
}

/* Responsif*/
@media (max-width: 768px) {
  .home {
    flex-direction: column;
    text-align: center;
  }

  .home-content {
    margin-top: 13vh;
    margin-bottom: 30px;
  }

  .home-img img {
    width: 250px;
  }
}